
.container{
  padding-left: 35%;
  padding-right: 35%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  padding-bottom: 3% ;
}

.homeHeader{
  text-align: center;
}

.card{
  border: 1px solid lavender;
  /* opacity: 0.6; */
}

.card-content{
  padding: 5%;
  background-color: lavender;
  opacity: 0.6;
}

.form-item-divs{
  padding: 3%;
}

input
{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 60px;
  box-sizing: border-box;
  resize: vertical; 
}

button{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 60px;
  box-sizing: border-box;
  resize: vertical;
}

button:hover{
  background-color: aquamarine;
}
.buttonDiv{
  padding-left: 25%;
  padding-right: 25%;

}


body{
  /* background-color: cornflowerblue; */
  background-image: url("https://images4.alphacoders.com/907/907288.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

