<% include partials/header %>              
                
  <div class="container">
    <div class="row">
        <div class="col text-center">
          <div class="message">
            <h1>Welcome to TrackWeeb!</h1>
            <p>Browse Anime or Manga and keep track of your episodes and chapters with ease!</p>    
          </div>
          <a href="./browse.html" class="btn btn-secondary btn-lg active" aria-pressed="true" role="button">Start Now</a>
        </div>
    </div>
  </div> 
<%include partials/footer %>
              
        