<% include ./partials/header %> 

  <!-- // Anime Season (Spring, Summer, Fall and Winter) -->
 
  <!-- ===================================== -->

  <%  var currentDate = new Date(),
      month = currentDate.getMonth();  
      var season = '';
      if( month >= 3 && month <= 5)
      {
        season = 'Spring';
      }
      else if(month >= 6 && month <= 8 )
      {
        season  = 'Summer';
      }
      else if(month >= 9 && month <= 11)
      {
        season = 'Fall';
      }
      else
      {
        season = 'Winter';
      }
  %>

<!-- ======================================== -->


  <div>
    <h1 style="padding: 30px; text-align: center; color: aliceblue">Trending Anime of the <%=season%> </h1>  
    
  </div>
<% include ./partials/footer %>

        