:root {
    --active-color: rgba(0,0,0,0.65);
}
  
  .card-signup {
    border: 1px solid #dadce0;
    /* border-radius: .5rem; */
    background-color:darkgrey;
    }
  
  .card-signup .card-body {
    padding: 48px 40px 36px;
  }
  .align{
    text-align: left;
  }