<% include ./partials/header %>
<form action="/" method="POST">
      <div class="row">
        <div class="col-md-5 mx-auto my-4">
            <div class="card card-signup z-depth-0">
                <div class="card-body text-center">
                    <h3 class="card-title">Create an account</h3>
        
                    <div class="md-form mat-2">
                        <input type="text" id="username" class="form-control" required>
                        <label for="username">Username</label>
                    </div>
            
                    <div class="md-form mat-2">
                        <input type="email" id="email" class="form-control" required>
                        <label for="email">E-mail</label>
                    </div>
            
                    <div class="md-form mat-2">
                        <input type="password" class="form-control password" required>
                        <label for="password">Password</label>
                        <div class="align">
                            <input id="radio" type="checkbox" onclick = 'showpwd()' class="radio"/>     Show Password
                        </div>
                    </div>
            
                    <div class="md-form mat-2">
                        <input type="password" class="form-control" required>
                        <label for="password2">Confirm Password</label>
                        
                    </div>  
        
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark" style="width: 140px;">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<script>
 function showpwd() { 
                            var x = document.querySelector(".password");
                            var y  = document.querySelector('.radio');
                            if (x.type === "password") {
                                x.type = "text";
                                y.checked = true;
                            } else {
                              x.type = "password";
                              y.checked = false;
                            } 
                          }
</script>
<% include ./partials/footer %>