.lcontainer{
    display: flex;
    justify-content: center;
    text-align: center;
}

.a-list{    
    /* display: inline-block; */
    background-color: whitesmoke;
}

.list-item{
    border-bottom-color: transparent; 
    border-bottom-width: 0;
}