/* d stands for dashboard */
.d-buttons{
    display: flex;
    flex-direction: row-reverse;    
}

.dcontainer{
    padding: 2%;
}
.profile {
    display: inline-block;
}

.b-profile {
    white-space: nowrap;
    text-align: center;
    width: fit-content;
}

.logOut {
    display: inline-block;
}

.b-logOut {
    white-space: nowrap;
    text-align: center;
    width: fit-content;
}

.searchInput{
    display: inline-block;
    position: relative;
    right: 50%;
}

.inputTag{
    height: 65%;

}