.dcontainer {

}

.header1 {

    margin: 5%;
}

.buttons {
    display: inline-block;
    position: relative;
    left: 56%;
    white-space: nowrap;
    text-align: center;
    width: fit-content;
    height: fit-content;    
    
}

.searchInput {
    display: inline-block;
    margin-left: 4%;
}

.dwrapper {
    border-radius: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 95%;
}

.inputTag {
    height: 100%;
}


.child-wrapper1{
    display: inline-block;
    margin: 3%;
}