.dcontainer {
    padding-top: 2%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons {
    white-space: nowrap;
    text-align: center;
    width: fit-content;
}


.searchInput {
    display: block;
    position: absolute;
    left: 7%;
    height: 45%;
}

.inputTag {
    height: 10%;
}