.container{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10%;
}

.forgot-pass-create{
    display: flex;
    flex-direction: row;
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}

.forgot-pass-create:hover{
    text-decoration-line: underline ;
    color: darkblue;
    
}

