* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
h1{
    font-family: 'Lobster Two', cursive;
    text-align: center;
    margin: 2%;
}

.thumbnail {
    width: 96px;
    height: 133.3px;
}

.wrapper{ 
    padding-top: 4%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
}

 .spacer{
    display: inline-block;
    padding: 3%;
} 
.thumbnail-wrapper{
    
}

.thumbnail-title{
    width: 96px;
    font-size: 85%;
}