* {
    box-sizing:border-box;
    padding:0;
  }

.header{
    font-family: 'Lobster Two', cursive;
    text-align: center;
    margin: 5%;
}

.thumbnail {
    width: 96px;
    height: 133.3px;
    border: 2px blanchedalmond solid;
    border-radius: 10px;

}

.thumbnail-title{
    width: 96px;    
}

.thumbnail:hover{
    opacity: 0.5;
}

.wrapper{ 
    border-radius: 2%;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 100%;  
}

.child-wrapper{
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
 
.thumbnail-title{
    display: flex;
    align-self:auto;
    justify-content: center;
    color: black;
    text-decoration-line: none;
}

.thumbnail-title:hover{
    color: blanchedalmond;
}

.content{
    font-size: 95%;
}