* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
h1{
    font-family: 'Lobster Two', cursive;
    text-align: center;
    margin: 2%;
}

.thumbnail {
    width: 96px;
    height: 133.3px;
}
.wrapper{ 
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

 .spacer{
    display: inline-block;
    margin: 3%;
    background-color: white;
} 
