.pcontainer {
    font-size: 89%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.forInfo-edit {

    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.headerP {
    font-family: 'Lobster Two', cursive;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.card-content {
    background-color: lightgray;
    opacity: 0.6;
}

.form-item-divsP {
    padding: 2%;
    padding-bottom: 4%;
    width: 75%;
}

input {
    width: 100%;
}


body {
    background-color: #0a5c94;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

/* Material Icon aligning */

label {
    padding-bottom: 1%;
}

.result{
    color: black;
    position: relative;
    left: 25%;
    color: green;
    font-size: 15px;
}