.container{
    text-align: center;  
    margin-right: auto;
    margin-left: auto;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 8%;
    font-size: 100%;
}

.btns {
    color: #FFFFFF;
    text-decoration: none;
}
