.container{
    text-align: center;  
    margin-right: auto;
    margin-left: auto;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 8%;
    font-size: 100%;
}

.btns {
    color: #FFFFFF;
    text-decoration: none;
}

.breadCrumb{
    position: fixed;
    margin-top: 2%;
    margin-left: 9%;
    margin-right: 7%;
}
